<% provide(:title, 'About') %>
<h1>About Anno-JR</h1>

<h3>What is Anno-JR?</h3>
<p>
  Anno-JR is currently just a prototype for collecting sequencing data references and using them to display the data with an Anno-J browser. It is very much a hack at this point which I can hopefully improve a lot in the future.
</p>

<h3>How to use Anno-JR</h3>
<p>
	I have user creation disabled while Anno-JR is in very early testing. Until user creation is opened up, public browsers can be viewed using the "Browsers" link.
</p>

<h3>Development Goals</h3>
<p>
	1. Improve user, track, and browser permission to make public, private, and link-only viewing. Add browser starting configuration options.
</p>
<p>
	2. Create an open source gem that would allow researchers to easily setup servers with APIs for accessing their sequencing data. This would give researchers an easier way to share data with each other and with data browsers.
</p>
<p>
	3. Create my own browser and not rely on Anno-J for presenting sequencing data. When combined with the API gem, accessing and presenting data would be much easier with a new visualization tool.
</p>