<div class="center hero-unit">
	<h1>Welcome to Anno-JR</h1>
  <h2>
    Your resource for building and managing your <a href="http://www.annoj.org">Anno-J</a> instances!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>