<li>
  <span class="name">
  	<%= browser.name %>
  </span>
  <% unless current_user?(browser.user) %>
  	<span class="user">Added by <%= browser.user.name %></span>
  <% end %>
	<span class="links">
	  <%= link_to 'info', info_browser_path(browser) %>
	  | <%= link_to 'view', browser, target: "_blank" %>
	</span>
</li>