<!DOCTYPE html>
<html>
<head>
	<meta http-equiv='Content-Type' content='text/html; charset=iso-8859-1'>
  <title>Browser</title>
	<%= stylesheet_link_tag    "annoj", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag 'annojr', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<script>
  AnnoJ.config = <%= raw(@browser.generate_config(@browser.linked_tracks).to_json) %>
</script>


</body>
</html>