<footer class="footer">
  <small>
    by <a href="http://markurich.com">Mark Urich</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Help",   help_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>