<!DOCTYPE html>
<html>
<head>
	<meta http-equiv='Content-Type' content='text/html; charset=iso-8859-1'>
  <title>Browser</title>
  <!-- ExtJS Dependencies -->
	<link type='text/css' rel='stylesheet' href='//neomorph.salk.edu/aj2/css/ext-all.css' />
	<!-- Anno-J -->
	<link type='text/css' rel='stylesheet' href='//neomorph.salk.edu/aj2/css/viewport.css' />
	<link type='text/css' rel='stylesheet' href='//neomorph.salk.edu/aj2/css/plugins.css' />
	<link type='text/css' rel='stylesheet' href='//neomorph.salk.edu/aj2/css/salk.css' />
  <%= javascript_include_tag 'annojr', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
